{% extends "base.html" %}

{% block content %}
<div class="container">
     <p><a href="/" class="back-link">&larr; Назад к списку документов</a></p>

    <h1>{{ doc.name or doc.file_name }}</h1>
    <p><strong>Создан:</strong> {{ doc.created_at }}</p>

    <h2>Original Text</h2>
    
    <div class="original collapsible">
        {{ doc.original_text }}
    </div>

    <h2>Summaries</h2>

    <div class="tab-buttons">
        <button onclick="showTab('llm_text_ru', this)" class="active">LLM Text RU</button>
        <button onclick="showTab('llm_text_en', this)">LLM Text EN</button>
        <button onclick="showTab('llm_keyword_ru', this)">LLM Keywords RU</button>
        <button onclick="showTab('llm_keyword_en', this)">LLM Keywords EN</button>
        <button onclick="showTab('extr_text_ru', this)">Extraction Text RU</button>
        <button onclick="showTab('extr_text_en', this)">Extraction Text EN</button>
        <button onclick="showTab('extr_keyword_ru', this)">Extraction Keywords RU</button>
        <button onclick="showTab('extr_keyword_en', this)">Extraction Keywords EN</button>
    </div>

    <!-- Text Summaries -->
    <div id="llm_text_ru" class="tab-content active">
        <p>{{ doc.summary.llm_text_summary.ru }}</p>
    </div>
    <div id="llm_text_en" class="tab-content">
        <p>{{ doc.summary.llm_text_summary.en }}</p>
    </div>

    <!-- Keyword Trees -->
    <div id="llm_keyword_ru" class="tab-content">
        <ul class="keyword-tree">
        {% macro render_keywords(node) %}
            <li>{{ node.keyword }}
                {% if node.children %}
                <ul>
                    {% for child in node.children %}
                        {{ render_keywords(child) }}
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
        {% endmacro %}
        {{ render_keywords(doc.summary.llm_keyword_summary.ru) }}
        </ul>
    </div>

    <div id="llm_keyword_en" class="tab-content">
        <ul class="keyword-tree">
        {{ render_keywords(doc.summary.llm_keyword_summary.en) }}
        </ul>
    </div>

    <div id="extr_text_ru" class="tab-content">
        <p>{{ doc.summary.extraction_text_summary.ru }}</p>
    </div>
    <div id="extr_text_en" class="tab-content">
        <p>{{ doc.summary.extraction_text_summary.en }}</p>
    </div>

    <div id="extr_keyword_ru" class="tab-content">
        <ul class="keyword-tree">
        {{ render_keywords(doc.summary.extraction_keyword_summary.ru) }}
        </ul>
    </div>

    <div id="extr_keyword_en" class="tab-content">
        <ul class="keyword-tree">
        {{ render_keywords(doc.summary.extraction_keyword_summary.en) }}
        </ul>
    </div>
</div>

<script src="/static/toggle.js"></script>
{% endblock %}
